<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4>
        <%= User.find_by({ "id" => session["user_id"] })["first_name"] %>
      </h4>
      <img class="img-fluid" src="<%= post["image"] %>" class="w-full">
      <p><%= post["body"] %></p>
    </div>
  <% end %>
</div>